<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>        
    <title>Sistema de Gestion y Censo Para las Comunas y Consejos Comunales</title>   
    </head>
    <body>     
        <style>
            #mensaje { 
                float: left;
                width: 99%;
                margin: 10px auto;
                border:#ccc solid 1px;
                box-shadow: 0 0 3px #CCC;
                color:#333;
                padding: 0.5%;
                border-radius: 5px;
                background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
            }
            #mensaje div.img {float: left; width: 15%;}
            #mensaje div {width: 85%; float: left;}
            #mensaje img { margin: 4px; padding: 0; float:left;}
            #mensaje h1 { float: left; width: 100%; font-family:Times; font-size: 18px; text-align: left; color: #1F75C2;}
            #mensaje h2 { float: left; width: 100%; font-family:Times; font-size: 15px; text-align: left; color: #1F75C2; margin: 3px 0px;}        
            #mensaje p {float: left; width: 100%;}
            
            #mensaje a.link { text-decoration:none; float: left; width: auto; padding: 10px; box-shadow: 0 0 2px #ccc; color: #FFF; text-align: center;}
            #mensaje p b {font-weight: bold; color:#1F75C2; }
            .azulC {
                background: #00b7ea; /* Old browsers */
background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
            color: #FFF;
            }
            .important{ font-weight: bold;}            
            
            hr { border: 1px dashed blue;}

            
        </style>
        <div id="mensaje" class="container_login_">     
            <div class="img">
            <img src="{{ imagen }}" alt="Logo " title="titulo del logo">
            </div>
            <div>
            <h1 align="center">Confirmación de Cuenta</h1>
            <p>Estimado(a), <b>{{ nombre_completo }}</b>.</p> 
            <p>Para confirmar la creación de la cuenta debe ingresar al siguiente botón:</p> 
            <a class="link azulC" href="{{ "# ~ id ~ "/" ~ cod}}">Confirmar Creación de Cuenta &raquo;</a>                        
            <p>Si tiene problemas puede ingresar copie el siguiente enlace: <a href="{{ "#" ~ id ~ "/" ~ cod}}" target="_blank" title="Confirmar Creación de Cuenta">{{ "http:/intranet.ubv.edu.ve/confirmacion/" ~ id ~ "/" ~ cod}}</a></p><p><b>Nota:</b> Si no hiciste la solicitud de Creación de Cuenta, ignora este mensaje.</p>                        
            <p>Esta es una cuenta de correo no monitoreada. Por favor, no responda ni reenvíe mensajes a esta cuenta.</p>
            <hr>
            <h2>Aviso de Confidencialidad:</h2>
            <p class="important">Tanto este mensaje como todos los posibles documentos adjuntos al mismo son confidenciales y dirigidos exclusivamente a los destinatarios de los mismos. Por favor, si Ud. no es uno de dichos destinatarios, sírvase notificarnos este hecho y elimínelo de su sistema. Queda prohibida la copia, difusión o revelación de su contenido a terceros.</p>            
            <hr>
            </div>
        </div>
       
    </body>
</html>
