{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="page-header, fi-torsos-all-female">Agregar Familia</h1>
    <ul class="record_actions"></ul>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Agregar Familias
            </div>
            <div class="panel-body">
                                  
                 {{ form_start(form) }}
        {{ form_errors(form) }} 
        <div class="form-group col-md-6 col-lg-offset-3">       
        {{ form_label(form.usuarios) }}
        {{ form_errors(form.usuarios) }}
        {{ form_widget(form.usuarios) }}
        </div>
        
        <div class="form-group col-md-4">       
        {{ form_label(form.apellidos) }}
        {{ form_errors(form.apellidos) }}
        {{ form_widget(form.apellidos) }}
        </div>
        <div class="form-group col-md-4">       
        {{ form_label(form.telefonoLocal) }}
        {{ form_errors(form.telefonoLocal) }}
        {{ form_widget(form.telefonoLocal) }}
        </div>
        <div class="form-group col-md-4">       
        {{ form_label(form.telefonoMovil) }}
        {{ form_errors(form.telefonoMovil) }}
        {{ form_widget(form.telefonoMovil) }}
        </div>
        <div class="form-group col-md-4">       
        {{ form_label(form.sector) }}
        {{ form_errors(form.sector) }}
        {{ form_widget(form.sector) }}
        </div>
        
        <div class="form-group col-md-4">       
        {{ form_label(form.numeroCasa) }}
        {{ form_errors(form.numeroCasa) }}
        {{ form_widget(form.numeroCasa) }}
        </div>
        <div class="form-group col-md-4">       
        {{ form_label(form.nombresComunidad) }}
        {{ form_errors(form.nombresComunidad) }}
        {{ form_widget(form.nombresComunidad) }}
        </div>
        
        {{ form_end(form) }}
              
            <a class=" col-md-12 mt btn btn-primary" href="{{ path('familias') }}">Volver a la Lista </a>
            
            </div>
        </div>
    </div>
            


{% endblock %}

{% block javascripts %}      
        <script type="text/javascript">
            $(document).on('ready', function () {                
        $('#censo_censobundle_familias_telefonoLocal').mask("(9999) 999-9999");
        $('#censo_censobundle_familias_telefonoMovil').mask("(9999) 999-9999");
        });
                       
        </script>
        
         <script>
             

        function addTagForm(collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = collectionHolder.data('prototype');

            // get the new index
            var index = collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a address" link li
            var $newFormLi = $('<div></div>').append(newForm);
            collectionHolder.append($newFormLi);
        }

        // Get the div that holds the collection of addresses
        var collectionHolder = $('div.habitantes');

        // setup an "add a address" link
        var $newLinkLi = $('<a href="#" class="btn btn-xs btn-info add_habitantes_link"><i class="glyphicon glyphicon-plus glyphicon-white"></i> Añadir un Habitante</a>');
        
        $(function(){

            // add the "add a address" anchor and li to the addresses div
            collectionHolder.parent().append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            collectionHolder.data('index', collectionHolder.find(':input').length);

            $newLinkLi.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new address form (see next code block)
                addTagForm(collectionHolder);
            });
            $(document).on('click', '.close', function(){
                $(this).closest('.habitantes').fadeOut(500, function() {
                    $(this).remove();
                });
            });
        });
        
        function addTagForm(collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = collectionHolder.data('prototype');

            // get the new index
            var index = collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a address" link li
            var $newFormLi = $('<div></div>').append(newForm);
            collectionHolder.append($newFormLi);
        }

        // Get the div that holds the collection of addresses
        var collectionHolder2 = $('div.registroSocioeconomico');

        // setup an "add a address" link
        var $newLinkLi2 = $('<a href="#" class="btn btn-xs btn-warning add_registroSocioeconomico_link"><i class="glyphicon glyphicon-plus glyphicon-white"></i> Añadir un Registro Socioeconomico</a>');
        
        $(function(){

            // add the "add a address" anchor and li to the addresses div
            collectionHolder2.parent().append($newLinkLi2);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            collectionHolder2.data('index', collectionHolder2.find(':input').length);

            $newLinkLi2.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new address form (see next code block)
                addTagForm(collectionHolder2);
            });
            $(document).on('click', '.close', function(){
                $(this).closest('.registroSocioeconomico').fadeOut(500, function() {
                    $(this).remove();
                });
            });
        });
    </script>
   
       
    {% endblock %}
    
   