{% extends '::base.html.twig' %}

{% block headscript %}
    <!-- jQuery -->


    <!-- Demo stuff -->
    <!--<link href="{{ asset('bundles/censo/css/ccs/jq.css')}}" rel="stylesheet">-->

    <link href="{{ asset('bundles/censo/css/ccs/prettify.css')}}" rel="stylesheet">

<!--<script src="{{ asset('bundles/censo/js/js/prettify.js')}}"></script>-->
<!--<script src="{{ asset('bundles/censo/js/js/docs.js')}}"></script>-->


    <!-- Tablesorter: required for bootstrap -->
    <link href="{{ asset('bundles/censo/css/css/theme.bootstrap.css')}}" rel="stylesheet">
    <!--<script src="{{ asset('bundles/censo/js/js/jquery.tablesorter.js')}}"></script>-->
    <!--<script src="{{ asset('bundles/censo/js/js/jquery.tablesorter.widgets.js')}}"></script>-->
    <link href="{{ asset('bundles/censo/css/css/print.css')}}" rel="stylesheet" media="print">


    <!-- Tablesorter: optional -->
    <link href="{{ asset('bundles/censo/css/ccs/jquery.tablesorter.pager.css')}}" rel="stylesheet">
    <!--<script src="{{ asset('bundles/censo/js/js/jquery.tablesorter.widgets.js')}}"></script>-->


{% endblock %}

{% block body -%}
    <h1 class="page-header, glyphicon glyphicon-list-alt"> Registro Socioeconomico</h1>
    <br>
    <br>

    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Registro Socieconomico
            </div>
            <div class="panel-body">
            <br>
            <br>

            <span class="print">
                <div class="bootstrap_buttons">
                    <button type="button" class="reset btn btn-primary" data-column="0" data-filter=""><i class="icon-white icon-refresh glyphicon glyphicon-refresh"></i> Reiniciar filtros</button>
                </div>
            </span>
            <!-- use the filter_reset : '.reset' option or include data-filter="" using the filter button demo code to reset the filters -->
            <br>

            <table class="tablesorter">

                <thead>
                    <tr>
                        <th>Familias</th>
                        <th class="filter-select filter-exact" data-placeholder="-seleccione-">Tipo de Vivienda</th>
                        <!--<th>Ingresofamiliar</th>
                        <th>Actividadcomercialviviendaid</th>
                        <th>Habitaciones en la Vivienda</th>
                        <th>Ninoscalle</th>
                        <th>Indigentes</th>
                        <th>Enfermosterminales</th>
                        <th>Discapacitados</th>
                        <th>Terceraedad</th>
                        <th>Ayudasalud</th>
                        <th>Ayudavivienda</th>-->
                        <th class="filter-select filter-exact" data-placeholder="-seleccione-">Aguas Blancas</th>
                        <th class="filter-select filter-exact" data-placeholder="-seleccione-">Aguas Servidas</th>
                        <!-- <th>Tanque</th>
                         <th>Ltstanque</th>
                         <th>Tipotanque</th>
                         <th>Pipotes</th>
                         <th>Cuantos</th>
                         <th>Tipopipotes</th>
                         <th>Medidor de Agua</th>-->
                        <th class="filter-select filter-exact" data-placeholder="-seleccione-">Gas</th>
                        <!--<th>Empresagas</th>
                        <th>Cantidadcilindros</th>
                        <th>Capacidadcilindro</th>
                        <th>Duracioncilindro</th>
                        <th>Preciocilindro</th>-->
                        <th class="filter-select filter-exact" data-placeholder="-seleccione-">Sistema Electrico</th>
                        <!--<th>Medidor</th>
                        <th>Bombillosahorradores</th>
                        <th>Cuantosbobillosnecesita</th>
                        <th>Mecanismoinformacionid</th>
                        <th>Organizacionescounitarias</th>-->
                        <th class="filter-select filter-exact" data-placeholder="-seleccione-">Recoleccion de basura</th>
                        <!--<th>Fecha</th>
                        <th>Registrosocioeconomico</th>-->
                        <th class="print">Accion</th>
                    </tr>
                </thead>




                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('registrosocioeconomico_show', { 'id': entity.id }) }}">
                                    {{ entity.id }}</a>
                            </td>
                            <td>{{ entity.familias.apellidos }}</td>
                            <td>{{ entity.tipoVivienda.nombre }}</td>
                            <td>{{ entity.ingresoFamiliar }}</td>
                            <td>{{ entity.actividadComercialViviendaId }}</td>
                            <td>{{ entity.habitacionesVivienda }}</td>
                            <td>{{ entity.ninosCalle }}</td>
                            <td>{{ entity.indigentes }}</td>
                            <td>{{ entity.enfermosTerminales }}</td>
                            <td>{{ entity.discapacitados }}</td>
                            <td>{{ entity.terceraEdad }}</td>
                            <td>{{ entity.ayudaSalud }}</td>
                            <td>{{ entity.ayudaVivienda }}</td>
                            <td>{{ entity.aguasBlancas }}</td>
                            <td>{{ entity.aguasServidad.nombre }}</td>
                            <td>{{ entity.tanque }}</td>
                            <td>{{ entity.ltsTanque }}</td>
                            <td>{{ entity.tipoTanque }}</td>
                            <td>{{ entity.pipotes }}</td>
                            <td>{{ entity.cuantos }}</td>
                            <td>{{ entity.tipoPipotes }}</td>
                            <td>{{ entity.medidorAgua }}</td>
                            <td>{{ entity.gas }}</td>
                            <td>{{ entity.empresaGas }}</td>
                            <td>{{ entity.cantidadCilindros }}</td>
                            <td>{{ entity.capacidadCilindro }}</td>
                            <td>{{ entity.duracionCilindro }}</td>
                            <td>{{ entity.precioCilindro }}</td>
                            <td>{{ entity.sistemaElectrico }}</td>
                            <td>{{ entity.medidor }}</td>
                            <td>{{ entity.bombillosAhorradores }}</td>
                            <td>{{ entity.cuantosBobillosNecesita }}</td>
                            <td>{{ entity.mecanismoInformacionId }}</td>
                            <td>{{ entity.organizacionesCounitarias }}</td>-->
                            <td>{{ entity.recoleccionBasura.nombre }}</td>
                            <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ entity.registroSocioeconomico }}</td>
                            <td class="print">
                                <a href="{{ path('habitantes_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-zoom-in col-md-4 col-md-4"></i> </a>
                                <a href="{{ path('habitantes_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil col-md-4 col-md-offset-4"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>

                    <tr class="print">
                        <th colspan="7" class="ts-pager form-horizontal">
                            <button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
                            <button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
                            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                            <button type="button" class="btn next"><i class="glyphicon glyphicon-forward"></i></button>
                            <button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
                            <select class="pagesize input-mini" title="Select page size">
                                <option selected="selected" value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                            </select>

                        </th>
                    </tr>
                </tfoot>
            </table>
            

        <a class=" col-md-12 btn btn-success print" href="{{ path('registrosocioeconomico_new') }}">Agregar nuevo Registro </a>
        <button type="button" onClick="window.print()" class="reset col-md-12 mt btn btn-warning print"<i class="glyphicon glyphicon-torso"></i> Imprimir Reporte</button>

    
        </div>
        
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-md-offset-7">
        <div id="dataTables-example_paginate" class="dataTables_paginate paging_simple_numbers">

        </div>
    </div>

    

{% endblock %}
{% block footerscript %}
    <!-- jQuery -->
        <!--<script src="{{ asset('bundles/censo/js/js/jquery-1.4.4.min.js')}}"></script>-->

    <!-- Demo stuff -->
    <script src="{{ asset('bundles/censo/js/js/prettify.js')}}"></script>
    <script src="{{ asset('bundles/censo/js/js/docs.js')}}"></script>

    <!-- Tablesorter: required for bootstrap -->
    <script src="{{ asset('bundles/censo/js/js/jquery.tablesorter.js')}}"></script>
    <script src="{{ asset('bundles/censo/js/js/jquery.tablesorter.widgets.js')}}"></script>

    <!-- Tablesorter: optional -->
    <script src="{{ asset('bundles/censo/js/js/jquery.tablesorter.pager.js')}}"></script>


    <script id="js">$(function () {

                $.extend($.tablesorter.themes.bootstrap, {
                    // these classes are added to the table. To see other table classes available,
                    // look here: http://twitter.github.com/bootstrap/base-css.html#tables
                    table: 'table table-bordered',
                    caption: 'caption',
                    header: 'bootstrap-header', // give the header a gradient background
                    footerRow: '',
                    footerCells: '',
                    icons: '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
                    sortNone: 'bootstrap-icon-unsorted',
                    sortAsc: 'icon-chevron-up glyphicon glyphicon-chevron-up', // includes classes for Bootstrap v2 & v3
                    sortDesc: 'icon-chevron-down glyphicon glyphicon-chevron-down', // includes classes for Bootstrap v2 & v3
                    active: '', // applied when column is sorted
                    hover: '', // use custom css here - bootstrap class may not override it
                    filterRow: '', // filter row class
                    even: '', // odd row zebra striping
                    odd: ''  // even row zebra striping
                });

                // call the tablesorter plugin and apply the uitheme widget
                $("table").tablesorter({
                    // this will apply the bootstrap theme if "uitheme" widget is included
                    // the widgetOptions.uitheme is no longer required to be set
                    theme: "bootstrap",
                    widthFixed: true,
                    headerTemplate: '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

                    // widget code contained in the jquery.tablesorter.widgets.js file
                    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
                    widgets: ["uitheme", "filter", "zebra"],
                    widgetOptions: {
                        // using the default zebra striping class name, so it actually isn't included in the theme variable above
                        // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
                        zebra: ["even", "odd"],
                        // reset filters button
                        filter_reset: ".reset"

                                // set the uitheme widget to use the bootstrap theme class names
                                // this is no longer required, if theme is set
                                // ,uitheme : "bootstrap"

                    }
                })
                        .tablesorterPager({
                            // target the pager markup - see the HTML block below
                            container: $(".ts-pager"),
                            // target the pager page select dropdown - choose a page
                            cssGoto: ".pagenum",
                            // remove rows from the table to speed up the sort of large tables.
                            // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
                            removeRows: false,
                            // output string - default is '{page}/{totalPages}';
                            // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
                            output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

                        });

            });</script>
    <script>
        $(function () {

            // filter button demo code
            $('button.filter').click(function () {
                var col = $(this).data('column'),
                        txt = $(this).data('filter');
                $('table').find('.tablesorter-filter').val('').eq(col).val(txt);
                $('table').trigger('search', false);
                return false;
            });

            // toggle zebra widget
            $('button.zebra').click(function () {
                var t = $(this).hasClass('btn-success');
//			if (t) {
                // removing classes applied by the zebra widget
                // you shouldn't ever need to use this code, it is only for this demo
//				$('table').find('tr').removeClass('odd even');
//			}
                $('table')
                        .toggleClass('table-striped')[0]
                        .config.widgets = (t) ? ["uitheme", "filter"] : ["uitheme", "filter", "zebra"];
                $(this)
                        .toggleClass('btn-danger btn-success')
                        .find('i')
                        .toggleClass('icon-ok icon-remove glyphicon-ok glyphicon-remove').end()
                        .find('span')
                        .text(t ? 'disabled' : 'enabled');
                $('table').trigger('refreshWidgets', [false]);
                return false;
            });
        });
    </script>
{% endblock %}