{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuarios</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ entity.salt }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{{ entity.isActive }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ entity.cedula }}</td>
            </tr>
            <tr>
                <th>Tipoempleado</th>
                <td>{{ entity.tipoEmpleado }}</td>
            </tr>
            <tr>
                <th>Departamento</th>
                <td>{{ entity.departamento }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ entity.cargo }}</td>
            </tr>
            <tr>
                <th>Sede</th>
                <td>{{ entity.sede }}</td>
            </tr>
            <tr>
                <th>Fechaingreso</th>
                <td>{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechaactivacion</th>
                <td>{{ entity.fechaActivacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecharegistro</th>
                <td>{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Telefonooficina</th>
                <td>{{ entity.telefonoOficina }}</td>
            </tr>
            <tr>
                <th>Telefonomovil</th>
                <td>{{ entity.telefonoMovil }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('usuarios') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usuarios_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
